*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

/* .login-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

body {
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
}

/* LEFT SIDE */
.left {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-weight: bold;
  margin-bottom: 40px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  background: #f2f2f2;
  border-radius: 25px;
}

.btn-signin {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #20c997, #0dcaf0);
  color: #fff;
  cursor: pointer;
}

/* RIGHT SIDE */
.right {
  width: 50%;
  background: linear-gradient(135deg, #20c997, #0dcaf0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.right p {
  width: 70%;
  margin-bottom: 30px;
}

.btn-signup {
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  background: white;
  color: #20c997;
  cursor: pointer;
}